<a href="https://colab.research.google.com/github/Xemgomez/ElaineGomez_DTSC3020.020_Fall2025/blob/main/Gomez_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [91]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

lowest_grade = min(grades.values())
for student, grade in grades.items():
  if grade == lowest_grade:
    print(f"{student.title()} has the lowest grade in the class.")

Omid has the lowest grade in the class.

Exercise 2: print names of students who registered for any course containing "Data"

In [92]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:
print("Students registered for data courses:")
for student, registered_courses in courses.items():
  for course in registered_courses:
    if 'Data' in course:
      print(f"\t{student.title()}")

Students registered for data courses:
	Sara
	Reza

Exercise 3: Print titles of books that are not available.

In [67]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:
print("Unavailable books:")
for book, book_info in library.items():
  if book_info.get('available') is False:
    print(f"\t{book.title()}")

Unavailable books:
	Ai Basics
	Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [93]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
print("Students registered for more than two courses:")
for student, courses in registrations.items():
  if len(courses) > 2:
    print(f"\t{student.title()}")

Students registered for more than two courses:
	Sara
	Lina

Exercise 5: Calculate and print the average grade of the class.

In [94]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
average = sum(grades.values()) / len(grades)
print(f"The class average is {average}.")

The class average is 18.1.

Exercise 6: Count and print the number of students registered for "Python".

In [83]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
python_students = 0
for student, registered_courses in courses.items():
  python_students += registered_courses.count('Python')
print(f"There are {python_students} students registered for Python.")

There are 3 students registered for Python.

Exercise 7: Print titles of books with more than 200 pages.

In [86]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
for book, pages in book_pages.items():
  if pages > 200:
    print(f"{book.title()}")

Ai Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [95]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for student, registered_courses in courses.items():
  print(f"{student.title()} has registered for {len(registered_courses)} course(s).")

Ali has registered for 2 course(s).
Sara has registered for 2 course(s).
Reza has registered for 2 course(s).
Lina has registered for 2 course(s).
Omid has registered for 1 course(s).